{% extends 'layout.html' %}
{% block title %}服务器资产信息{% endblock %}
{% block link %}
{% endblock %}
{% block main%}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            资产管理
            <small>服务器管理</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>服务器资产管理</a></li>
            <li><a href="#">服务器管理</a></li>
            <li class="active">仪表盘</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">服务器资产信息</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>SN编号</th>
                                <th>IP(主机名)</th>
                                <th>操作系统</th>
                                <th>CPU/内存/硬盘</th>
                                <th>机房</th>
                                <th>业务</th>
                                <th>采购日期(保修时长)</th>
                                <th>型号</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>A</td>
                                <td>B</td>
                                <td>C</td>
                                <td>D</td>
                                <td>E</td>
                                <td>F</td>
                                <td>Win 95+</td>
                                <td>4</td>
                                <td>X</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
<!-- /.box -->
</div>
{% endblock %}

{% block script %}
<script src="/static/vendor/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/vendor/plugins/datatables/dataTables.bootstrap.min.js"></script>
{% endblock %}
{% block js%}
$(function () {
$("#example1").DataTable();
$('#example2').DataTable({
"paging": true,
"lengthChange": false,
"searching": false,
"ordering": true,
"info": true,
"autoWidth": false
});
});
{% endblock %}